/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/** adds top padding to center block**/

.padding-top-bottom-lg {
	padding-top: 12%;
	padding-bottom: 8%;
}

.padding-top-bottom-sm {
	padding-top: 6%;
	padding-bottom: 6%;
}

.padding-left-right-lg {
	padding-left: 10%;
	padding-right: 10%;
}

.bg-blue {
	background-color: cornflowerblue;
}

.bg-powderblue {
	background-color: powderblue;
}