/********************************************
* Custom CSS Styles for Bread Basket
*
* @author Kimberly Keller keller.kimberly@gmail.com
*
********************************************/

/********************************************
* Bread Basket Custom Colors
* darkslategray: rgb(47, 79, 79)
* whitesmoke: rgb(245, 245, 245)
*
* Info: rgb(108, 155, 155)
* Primary: rgb(47, 79, 79)
* Warning
* Danger
*
* @author Kimberly Keller keller.kimberly@gmail.com
*
********************************************/

/********************************************
* LAYOUT Styles
********************************************/

header {
	padding: 20px;
	background-color: darkslategray;
}

main {
	padding-top: 15px;
}


/********************************************
* Utility Styles
********************************************/
html, body {
	color: darkslategray;
	font-family: 'Noto Sans', sans-serif;
}

h1 {
	font-size: 3em;
	font-family: 'Josefin Sans', sans-serif;
	color: whitesmoke;
}

.h2-bb {
	font-size: 36px;
	font-family: 'Noto Sans', sans-serif;
	color: darkslategray;
}


/********************************************
* Button Styles
********************************************/

/* Media query that pulls right on md screens (desktops, 992px and up) */
@media (min-width: 768px) {
	.btn-btn-right {
		float: right;
	}

}

@media (min-width: 768px) {
	.media-show {
		display: block;
	}

}
/* Media query that hides "menu" text on small screens (desktops, 992px and up) */
@media (max-width: 768px) {
	.media-hide {
		display: none;
	}
}


.btn {
	border-radius: 0px;

}

/** BTN INFO **/
.btn-info {
	border: 2px solid transparent;
	font-family: 'Noto Sans', sans-serif;
	color: whitesmoke;
	background-color: rgb(108, 155, 155);
	padding: 10px 16px;
	font-size: 1.25em;
	line-height: 1.33;
}

.btn-info:visited {
	background-color: rgb(108, 155, 155);
	border-color: whitesmoke;
}

.btn-info:hover {
	background-color: rgb(108, 155, 155);
	border-color: whitesmoke;
}

.btn-info:active {
	background-color: rgb(108, 155, 155) !important;
	border-color: rgb(245, 245, 245) !important;
	box-shadow: none !important;
}

.btn-info:focus {
	background-color: rgb(108, 155, 155);
	border-color: whitesmoke;
}

/** BTN DANGER **/
.btn-danger {
	border: 2px solid transparent;
	padding: 10px 16px;
	font-size: 1.25em;
	line-height: 1.33;
}

.btn-danger:visited {
	border-color: rgb(245, 245, 245) !important;
	box-shadow: none !important;
}

.btn-danger:hover {
	border-color: whitesmoke;
}

.btn-danger:active {
	border-color: rgb(245, 245, 245) !important;
	box-shadow: none !important;
}

/** BTN WARNING **/

.btn-warning {
	border: 2px solid transparent;
	padding: 10px 16px;
	font-size: 1.25em;
	line-height: 1.33;
}

.btn-warning:visited {
	border-color: rgb(245, 245, 245) !important;
	box-shadow: none !important;
}

.btn-warning:hover {
	border-color: whitesmoke;
}

.btn-warning:active {
	border-color: rgb(245, 245, 245) !important;
	box-shadow: none !important;
}

/** BTN PRIMARY **/

.btn-primary {
	border: 2px solid transparent;
	font-family: 'Noto Sans', sans-serif;
	color: whitesmoke;
	background-color: rgb(47, 79, 79) !important;
	padding: 10px 16px;
	font-size: 1.25em;
	line-height: 1.33;
}

.btn-primary:hover {
	background-color: rgb(47, 79, 79);
	border-color: whitesmoke;
}

.btn-primary:active {
	background-color: rgb(47, 79, 79) !important;
	border-color: rgb(245, 245, 245) !important;
	box-shadow: none !important;
}


#btn-block {
	margin-bottom: 10px;
}


/********************************************
* NAVBAR Styles
********************************************/
/** HOME PAGE Navbar Styles ****/

.home-nav a,
.home-nav a:hover {
	color: whitesmoke;
	font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
}

.nav>li>a:hover {
	color: darkslategray;
}
.nav>li>a:active {
	color: darkslategray !important;
}

.nav>li>a:focus {
	color: darkslategray !important;
}

/** CONTENT PAGE **/

.content-nav a,
.content-nav a:visited {
	color: whitesmoke;
	font-size: 2em;
	font-family: 'Josefin Sans', sans-serif;
}

.content-nav a:hover {
	background-color: darkslategray;
	color: darkslategray;
	border: 2px whitesmoke;

}

.nav-logo,
.nav-logo:hover {
	font-size: 2em;
	font-family: 'Josefin Sans', sans-serif;
	color: whitesmoke;
	text-decoration: none;
}

/** NAVBAR MENU BUTTONS **/

.btn-menu {
	font-family: 'Josefin Sans', sans-serif;
	color: whitesmoke;
	background-color: rgb(47, 79, 79);
	font-size: 1.2em;
}

.btn-menu:hover {
	color: rgb(47, 79, 79);
	background: whitesmoke;
	border-color: rgb(47, 79, 79);
}

.btn-menu:focus {
	color: darkslategray;
	background-color: whitesmoke;
}

#btn-menu {
	border: solid 2px whitesmoke;
}

/** NON ADMIN NAV **/

.na-nav {
	font-size: 1.5em;
	color: ghostwhite;
	font-family: 'Josefin Sans', sans-serif;
}

.na-header {
	background-color: darkslategray;
}

/********************************************
* FORM Styles
********************************************/



/********************************************
* TABLE Styles
********************************************/

.table-style {
	background-color: rgba(245, 245, 245, .8);
}

/************ MOBILE TABLE VIEW ************/

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 8px solid transparent; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 2px solid transparent;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}


}


/********************************************
* Home Page Styles
********************************************/

/** Navbar Styles ****/

.home-nav a,
.home-nav a:hover {
	color: whitesmoke;
	font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
}

.nav>li>a:hover {
	color: darkslategray;
}
.nav>li>a:active {
	color: darkslategray !important;
}

.nav>li>a:focus {
	color: darkslategray !important;
}
/** BUTTON STYLING **/

.btn-home {
	font-family: 'Noto Sans', sans-serif;
	color: whitesmoke;
	background-color: darkslategray;
	border: 2px solid whitesmoke;
	padding: 10px 16px;
	font-size: 1.5em;
}

.btn-home:hover {
	color: darkslategray;
	background-color: whitesmoke;
	border: solid 2px whitesmoke;
}

.btn-home:focus {
	color: darkslategray;
	background-color: whitesmoke;
	border: solid 2px whitesmoke;
}


/** HOME PAGE CUSTOM PADDING **/

/** Add padding to large block elements on home page**/
.inline {
	display: inline;
}

.padding-top-bottom-lg {
	padding-top: 12%;
	padding-bottom: 8%;
}

.padding-top-bottom-sm {
	padding-top: 6%;
	padding-bottom: 6%;
}

.padding-left-right-lg {
	padding-left: 10%;
	padding-right: 10%;
}

.bg-drk {
	background-color: darkslategrey;

}

/** Home Page Background **/

.home-img {
	background: url(../img/food-ingredients-high.jpg) no-repeat center center fixed;
}


/********************************************
* Login Landing Page Styles
********************************************/


.login-bg {
	background: url(../img/market.jpg) no-repeat center center fixed;
}

.jumbotron {
	margin-top: 30px;
	background-color: rgba(245, 245, 245, .8);
}

/********************************************
* Content Page Styles
********************************************/

.list-bg {
	background-image: linear-gradient(whitesmoke, rgb(210, 215, 211) );
}




/********************************************
* Footer Styles
********************************************/

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
	background-size: cover;
	padding-bottom: 100px;
}

footer {
	padding: 10px 0;
	background-color: darkslategray;
	color: whitesmoke;
	font-size: 1.5em;
	box-shadow: 0 -42px 100px rgba(0, 0, 0, 0.42);
}




