<phpunit>
	<testsuites>
		<testsuite name="Bread Basket">
			<!--<directory suffix="-test.php">.</directory>-->
			<file>org-api-test.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../public_html/php/classes</directory>
		</whitelist>
	</filter>
</phpunit>
